.text-orange {
	color: rgb(197, 89, 0);
}

.fw-semibold {
	font-weight: 500 !important;
}

* {
	/* font-family: "Inter", sans-serif; */
	font-family: "Open Sans", sans-serif;
}

.fs-54 {
	font-size: 54px;
}

.mt-8 {
	margin-top: 4rem;
}

.text-555 {
	color: #555;
}

.cursor-pointer {
	cursor: pointer;
}
